.big-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.big-description:hover {
    overflow: visible;
    white-space: normal;
}
.is-invalid{
    border: 1px solid #fb6340 !important;
}